body {
    background-color:rgb(230, 230, 230);
    font-family: 'Courier New', Courier, monospace;
    line-height: 1.5;
    color: rgb(50,50,50);
    font-size: 16px;
    margin: 40px;
}
a{
    text-decoration: none;
    color: black;
}
a:hover{
    text-decoration: underline;
}
h1,h2,h3 {
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 4px;
}
h1{
    text-decoration: underline;
}
.card-white{
    background: white;
    padding: 50px;
    margin: 30px;
    border-radius: 20px;
    box-shadow: 0 15px 35px rgba(50,50,93,0.1)
    
}
.container{
    width: 950px;
    margin: 40px auto;
    text-align: center;
}
@media (max-width: 960px) {
    .container {
      width: 700px;
    }
}
@media (max-width: 720px) {
    .container {
      width: 500px;
    }
}
@media (max-width: 540px) {
    .container {
      width: 420px;
    }
    .card-white{
        margin: 15px;
        padding: 35px;
    }
}

.img-circle{
    width: 300px;
    height: 300px;
    border-radius: 20%;
}
.btn-purple{
    background-color: #1ab7ee;
    color: white;
    padding: 15px 20px;
    border-radius: 20px;

}
.btn-purple:hover{
    background-color: blue;
    text-decoration: none;
    transition: 600ms;
}
.list-inline{
    list-style: none;
    padding-left: 0;
}
.list-inline li{
    display: inline;
    padding: 10px;
}
#introduction p{
    margin-bottom: 40px;
}
